.NEO {
    margin:0;
    line-height:18px;
    -webkit-user-select: none;
    user-select: none;
}

.NEO *:active,
.NEO *:hover {
  cursor: default;
}

.NEO #container{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px dotted transparent;

     /* base64 bg.png */
    background: #e8efff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAKUlEQVQ4y2NgoABcvfH+PxMlBjAwMDCMGjBqwKgBVDKA8eqN9/8pMQAA5qwHVDz/gqkAAAAASUVORK5CYII=");
}

.NEO #center{
    display: table;
    position: relative;
    height: 100%;
    margin: auto;
}

.NEO #toolsWrapper{
    width: 52px;
    height: 100%; /* ここはうまく書けなかったので手動でcontainerの高さに合わせて！ */
    display: table;
    position:absolute;
    top: 0;
    right: -3px;
}

.NEO #tools{
    width: 52px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.NEO #painterContainer{
    display:table-cell;
    vertical-align: middle;
    position: relative;
}

.NEO #painterWrapper{
    padding: 0 55px 0 0;
    position: relative;

}

.NEO #upper {
    height:30px;
    padding-right: 20px;
    text-align:right;
}

.NEO #lower {
    height:30px;
}

.NEO #painter {
    position: relative;
    padding: 20px 20px 20px 20px;
}

.NEO #canvas {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid #efefff;
}

.NEO #headerButtons {
    position: absolute;
    top: 5px;
    left: 5px;
}

.NEO #footerButtons {
    position: absolute;
    bottom: 5px;
    left: 5px;
}


/*
-----------------------
	Modal Window
-----------------------
*/

.NEO #pageView{
    background-color: white;
}

.NEO #windowView{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

/*
-----------------------
	Controls
-----------------------
*/

.NEO #zoomMinus {
    padding: 0;
    margin: 0;
    width:16px;
    height:16px;
}

.NEO #zoomPlus {
    padding: 0;
    margin: 0;
    width:16px;
    height:16px;
}

.NEO #zoomMinusWrapper {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 19px;
    height: 19px;
    text-align:center;
    color: white;
}

.NEO #zoomPlusWrapper {
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 19px;
    height: 19px;
    text-overflow: hidden;
    text-align:center;
    color: white;
}

.NEO #scrollH {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20px;
    background-color: #eee;
}

.NEO #scrollV {
    position: absolute;
    right: -20px;
    width: 20px;
    height: 100%;
    background-color: #eee;
}

/*
-----------------------
	Widgets
-----------------------
*/

.NEO .button,
.NEO .buttonOff {
    display: inline-block;
    border: 1px solid white;
    height: 19px;
    padding: 3px;
    height: 16px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    color: #efefff;
    background-color: #a1b8d8;
    margin-right: 4px;
    border-left: 1px solid #a1b8d8;
    border-top: 1px solid #a1b8d8;
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px #a1b8d8, 0 0 0 2px #efefff;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 1px;

}

.NEO .button:hover,
.NEO .buttonOff:hover {
    border-top: 1px solid #e6ffff;
    border-left: 1px solid #e6ffff;
    box-shadow: 0 0 0 1px black, 0 0 0 2px #efefff;
}

.NEO .button:active,
.NEO .buttonOn {
    display: inline-block;
    border: 1px solid white;
    height: 19px;
    padding: 3px;
    height: 16px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    color: #efefff;
    background-color: #a1b8d8;
    margin-right: 4px;
    border-left: 1px solid #a1b8d8;
    border-top: 1px solid #a1b8d8;
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px #a1b8d8, 0 0 0 2px #efefff;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 1px;

    border-top: 1px solid #708097;
    border-left: 1px solid #708097;
    background-color: #708097;
}

.NEO .toolTipOff {
    position:relative;
    background-color: #d3d8ff;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;

    width: 46px;
    height: 18px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #9397b2;
    border-bottom: 1px solid #9397b2;
    box-shadow: 0 0 0 1px #7474ab;
}

.NEO .toolTipOn {
    position:relative;
    background-color: #9397b2;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;

    width: 46px;
    height: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 0 1px #7474ab;
}

.NEO .toolTipOff canvas,
.NEO .toolTipOn canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.NEO .toolTipOff .label,
.NEO .toolTipOn .label {
    position: absolute;
    bottom: -4px;
    left: 1px;
    color: #5c5482;
    font-size:12px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: -1px;
}

.NEO .colorTips {
    position:relative;
    width: 48px;
    height: 144px;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 0px;
}

.NEO .colorTipOff {
    position: absolute;
    overflow: hidden;
    width: 22px;
    height: 18px;
    margin: -1px 4px 0px 0px;
    padding: 0;
    box-shadow: 0 0 0 1px #7474ab;
}

.NEO .colorTipOff img {
    left: 0;
    opacity: 0.5;
    position: absolute;
    pointer-events:none;
}

.NEO .colorTipOn {
    position: absolute;
    overflow: hidden;
    width: 22px;
    height: 18px;
    margin: -1px 4px 0px 0px;
    padding: 0;
    box-shadow: 0 0 0 1px #7474ab;
}

.NEO .colorTipOn img {
    left: -22px;
    opacity: 0.5;
    position: absolute;
    pointer-events:none;
}

.NEO .colorSlider {
     background-color: #d2d8f0;
     width: 48px;
     height:13px;
     box-shadow: 0 0 0 1px #7474ab;
     position: relative;
     margin-top: 3px;
}

.NEO .colorSlider .label {
    pointer-events: none;
    position: absolute;
    left: 2px;
    bottom: -3px;
    color: #5a5781;
    font-size:12px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    vertical-align: middle;
}

.NEO .colorSlider .slider {
    position: absolute;
    height: 100%;
    left: 0px;
    width: 50%;
    background-color: #fa9696;
    box-shadow: -1px 0 0 0px rgba(0, 0, 0, 0.3) inset;
}

.NEO .sizeSlider {
    background-color: #d2d8f0;
    width: 48px;
    height:33px;
    box-shadow: 0 0 0 1px #7474ab;
    position: relative;
    margin-top: 3px;
}

.NEO .sizeSlider .label {
    pointer-events: none;
    position: absolute;
    left: 2px;
    bottom: -3px;
    color: #5a5781;
    font-size:12px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    vertical-align: middle;
}

.NEO .sizeSlider .slider {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 33%;
    background-color: #82f238;
    box-shadow: 0 -1px 0 0px rgba(0, 0, 0, 0.3) inset;
}

.NEO .reserveControl {
    width: 48px;
    height: 13px;

    background-color: #d2d8f0;
    box-shadow: 0 0 0 1px #7474ab;
    position: relative;
}

.NEO .layerControl {
    width: 48px;
    height: 20px;
    background-color: #d2d8f0;
    box-shadow: 0 0 0 1px #7474ab;
    position: relative;
    margin-top: 6px;
}

.NEO .layerControl .bg {
    position: absolute;
    width: 44px;
    height: 9px;
    margin: 0;
    
    top: 0px;
    left: 2px;
    border-bottom: 1px solid #7474ab;
}

.NEO .layerControl .line1 {
    position: absolute;
    width: 50px;
    height:10px;
    margin: 0;
    padding: 0;

    top: 0px;
    left: -1px;
    background-image: linear-gradient(to top right, transparent, transparent 47%, red 47%, red 53%, transparent 53%, transparent);
}

.NEO .layerControl .line0 {
    position: absolute;
    width: 50px;
    height: 10px;
    margin: 0;
    padding: 0;

    top: 10px;
    left: -1px;
    background-image: linear-gradient(to top right, transparent, transparent 47%, red 47%, red 53%, transparent 53%, transparent);
}

.NEO .layerControl .label1 {
    position: absolute;
    left: 2px;
    Top: -4px;
    color: #5a5781;
    font-size:11px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    vertical-align: baseline;
}

.NEO .layerControl .label0 {
    position: absolute;
    left: 2px;
    Top: 6px;
    color: #5a5781;
    font-size:11px;
    font-weight: 100;
    font-family: 'Arial';
    letter-spacing: 0;
    vertical-align: baseline;
}

